@import "../../variables";

.mod-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > :first-child {
    margin-right: $spacing;
  }

  .modbutton-active,
  .modbutton-inactive {
    width: 17.5%;

    background-color: $color2;

    padding: 0.4vw 0.175vw;
    border-radius: $border-radius;
    border: $border-large solid $color2;

    font-size: 0.85vw;
    text-align: center;

    transition-duration: 0.1s;

    color: $color1;

    &:hover {
      cursor: not-allowed;
    }
  }

  .modbutton-active {
    color: $color4;

    b {
      color: $color3;
    }

    &:hover {
      cursor: pointer;

      background-color: $color1;

      border: $border-large solid $color3;

      b {
        text-decoration: underline;
      }
    }
  }
}
