@import "../../variables";

.rollbutton-container {
  height: 75%;
  width: 17.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color1;

  border-radius: $border-radius;
  border: $border-large solid $color3;

  color: $color3;
  font-weight: bold;
  text-align: center;

  transition-duration: 0.25s;

  &:hover {
    cursor: pointer;

    background-color: $color3;

    color: $color1;
  }

  .rollbutton-name {
    font-size: 1.25vw;
    margin-bottom: 0.25vw;
  }
  .rollbutton-props {
    font-size: 1vw;
  }
}
