@import "../../variables";

.nameinput-container {
  height: 10%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .nameinput {
    height: 50%;
    width: 40%;

    background-color: $color2;

    border: 2.5px solid $color2;
    border-radius: $border-radius;

    color: $color4;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

    &:focus {
      outline: none;
      color: $color3;
      border: 2.5px solid $color3;
    }

    &::placeholder {
      opacity: 0.5;
      color: $color1;
    }
  }
}
