@import "../../variables";

.list-container {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > :not(:first-child):not(:last-child) {
    margin: 0px 0.25vw;
  }
  > :first-child {
    margin-right: 0.25vw;
  }
  > :last-child {
    margin-left: 0.25vw;
  }

  .list {
    width: 100%;
    height: fit-content;

    background-color: $color2;

    padding: 0.25vw 0px 0.375vw 0px;
    border-radius: $border-radius;
    border: $border-large solid $color2;

    text-align: center;

    > :not(:first-child):not(:nth-child(2)):not(:last-child) {
      margin: 0.25vw 0px;
    }
    > :nth-child(2) {
      margin-bottom: 0.25vw;
    }
    > :last-child {
      margin-top: 0.25vw;
    }

    .title {
      font-size: 0.95vw;
      font-weight: bold;

      color: $color3;

      margin-bottom: 0.25vw;
    }

    .name {
      transition-duration: 0.1s;
      
      font-size: 0.85vw;

      &:hover {
        cursor: pointer;

        color: $color3;

        font-weight: bold;
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: $color1;

      border: $border-large solid $color3;
    }
  }
}
