@import "../../variables";

.header-container {
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  .logo-container {
    height: 100%;
    width: 10%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .logoImg {
      position: absolute;

      width: 5.5vw;
    }

    .logoDice {
      position: absolute;

      padding-top: 0.25vw;
      
      font-size: 0.85vw;
      font-weight: bold;
      color: $color3;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .headertitle {
    height: 100%;
    width: 45%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 1.875vw;
    font-weight: bold;
    color: $color3;
  }

  .headerbuttons-container {
    height: 100%;
    width: 45%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    > :not(:last-child) {
      margin-right: 0.5vw;
    }

    .headerbutton {
      &:hover {
        cursor: pointer;

        color: $color3;

        text-decoration: underline;
      }
    }
  }
}

.header-page-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  height: 15%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logo-container {
    height: 100%;
    width: 10%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .logoImg {
      position: absolute;

      width: 5.5vw;
    }

    .logoDice {
      position: absolute;
      
      padding-top: 0.25vw;
      
      font-size: 0.85vw;
      font-weight: bold;
      color: $color3;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .headertitle {
    height: 100%;

    display: flex;
    align-items: center;

    font-size: 1.875vw;
    font-weight: bold;
    color: $color3;
  }

  .headerbuttons-container {
    height: 100%;

    display: flex;
    align-items: center;

    > :not(:last-child) {
      margin-right: 0.5vw;
    }

    .headerbutton {
      &:hover {
        cursor: pointer;

        color: $color3;

        text-decoration: underline;
      }
    }
  }
}
