@import "../../variables";

.faqpage-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .faqpagecontent {
    padding: 0px 2.5vw;

    > :not(:first-child) {
      margin-top: 1.25vw;
    }

    .faq-item {
      .faq-question {
        font-size: 1.45vw;
        font-weight: bold;
        color: $color3;
      }
      .faq-answer {
        font-size: 1.15vw;
      }
    }
  }
}
