@import "../../variables";

.dice-button {
  width: 35%;

  background-color: $color2;

  padding: 0.9vw;
  border-radius: $border-radius;
  border: $border-large solid $color2;

  font-size: 1.1vw;
  text-align: center;

  transition-duration: 0.1s;

  b {
    color: $color3;
  }

  &:hover {
    cursor: pointer;

    background-color: $color1;

    border: $border-large solid $color3;

    b {
      text-decoration: underline;
    }
  }
}
